.App {
  margin: 50px;
  text-align: left;
}

header {
  position: relative;
}

.lotte-container {
  position: absolute;
  width: 150px;
  height: 150px;
  top: -50px;
  left: 400px;
}

.lottie-animation {
  position: absolute;
  width: 600px;
  left: 0;
  right: 0;
  margin: auto;
  top: 50px;
  text-align: center;
  animation-duration: 5s;
  animation-name: fade;
}

@keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}