.App {
  margin: 50px;
  text-align: left;
}

header {
  position: relative;
}

.lotte-container {
  position: absolute;
  width: 150px;
  height: 150px;
  top: -50px;
  left: 400px;
}

.lottie-animation {
  text-align: center;
  margin-top: 150px;
  animation-duration: 5s;
  animation-name: fade;
}

@keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}