body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #282c34;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  color: aquamarine;
  font-style: italic;
  text-decoration: none;
}

h3 { 
  margin: 40px 0 10px;
  text-decoration: underline;
}

h5 {
  margin: 0;
}

ul {
  margin-bottom: 20px;
  margin-top: 5px;
}

ul li {
  margin: 3px 0 5px 0;
}

ul li div {
  font-size: 20px;
  line-height: 24px;
  color: #eee !important;
}

ul li .name {
  margin-right: 20px;
}

ul li .desc {
  font-size: 15px;
  line-height: 24px;
  color: slategrey;
  display: block;
}

.date {
  font-size: 20px;
  font-weight: lighter;
}

.travel {
  margin: 0 10px;
  font-size: 16px;
  color: wheat;
  font-style: italic;
}